Package                                           Version
------------------------------------------------- -----------
aiofiles                                          24.1.0
annotated-types                                   0.7.0
anyio                                             4.12.1
av                                                16.1.0
brotli                                            1.2.0
certifi                                           2026.1.4
charset-normalizer                                3.4.4
click                                             8.1.8
coloredlogs                                       15.0.1
contourpy                                         1.3.3
ctranslate2                                       4.6.3
cycler                                            0.12.1
dnspython                                         2.8.0
easyocr                                           1.7.1
email-validator                                   2.3.0
fastapi                                           0.115.4
faster-whisper                                    1.2.1
ffmpy                                             1.0.0
filelock                                          3.20.3
flatbuffers                                       25.12.19
fonttools                                         4.61.1
fsspec                                            2026.1.0
gradio                                            6.4.0
gradio_client                                     2.0.3
groovy                                            0.1.2
gTTS                                              2.5.4
h11                                               0.16.0
hf-xet                                            1.2.0
httpcore                                          1.0.9
httptools                                         0.7.1
httpx                                             0.27.0
huggingface_hub                                   1.3.4
humanfriendly                                     10.0
idna                                              3.11
ImageIO                                           2.37.2
Jinja2                                            3.1.6
jiwer                                             3.0.4
joblib                                            1.5.3
kiwisolver                                        1.4.9
lazy_loader                                       0.4
markdown-it-py                                    4.0.0
MarkupSafe                                        3.0.3
matplotlib                                        3.10.8
mdurl                                             0.1.2
mpmath                                            1.3.0
networkx                                          3.6.1
ninja                                             1.13.0
nltk                                              3.9.1
numpy                                             1.26.4
onnxruntime                                       1.23.2
opencv-python                                     4.10.0.84
opencv-python-headless                            4.11.0.86
orjson                                            3.11.5
packaging                                         26.0
pandas                                            2.2.2
pillow                                            12.1.0
pip                                               25.3
polars                                            1.37.1
polars-runtime-32                                 1.37.1
protobuf                                          6.33.4
psutil                                            7.2.1
pyclipper                                         1.4.0
pydantic                                          2.9.2
pydantic_core                                     2.23.4
pydub                                             0.25.1
Pygments                                          2.19.2
pyobjc                                            12.1
pyobjc-core                                       12.1
pyobjc-framework-Accessibility                    12.1
pyobjc-framework-Accounts                         12.1
pyobjc-framework-AddressBook                      12.1
pyobjc-framework-AdServices                       12.1
pyobjc-framework-AdSupport                        12.1
pyobjc-framework-AppleScriptKit                   12.1
pyobjc-framework-AppleScriptObjC                  12.1
pyobjc-framework-ApplicationServices              12.1
pyobjc-framework-AppTrackingTransparency          12.1
pyobjc-framework-ARKit                            12.1
pyobjc-framework-AudioVideoBridging               12.1
pyobjc-framework-AuthenticationServices           12.1
pyobjc-framework-AutomaticAssessmentConfiguration 12.1
pyobjc-framework-Automator                        12.1
pyobjc-framework-AVFoundation                     12.1
pyobjc-framework-AVKit                            12.1
pyobjc-framework-AVRouting                        12.1
pyobjc-framework-BackgroundAssets                 12.1
pyobjc-framework-BrowserEngineKit                 12.1
pyobjc-framework-BusinessChat                     12.1
pyobjc-framework-CalendarStore                    12.1
pyobjc-framework-CallKit                          12.1
pyobjc-framework-Carbon                           12.1
pyobjc-framework-CFNetwork                        12.1
pyobjc-framework-Cinematic                        12.1
pyobjc-framework-ClassKit                         12.1
pyobjc-framework-CloudKit                         12.1
pyobjc-framework-Cocoa                            12.1
pyobjc-framework-Collaboration                    12.1
pyobjc-framework-ColorSync                        12.1
pyobjc-framework-CompositorServices               12.1
pyobjc-framework-Contacts                         12.1
pyobjc-framework-ContactsUI                       12.1
pyobjc-framework-CoreAudio                        12.1
pyobjc-framework-CoreAudioKit                     12.1
pyobjc-framework-CoreBluetooth                    12.1
pyobjc-framework-CoreData                         12.1
pyobjc-framework-CoreHaptics                      12.1
pyobjc-framework-CoreLocation                     12.1
pyobjc-framework-CoreMedia                        12.1
pyobjc-framework-CoreMediaIO                      12.1
pyobjc-framework-CoreMIDI                         12.1
pyobjc-framework-CoreML                           12.1
pyobjc-framework-CoreMotion                       12.1
pyobjc-framework-CoreServices                     12.1
pyobjc-framework-CoreSpotlight                    12.1
pyobjc-framework-CoreText                         12.1
pyobjc-framework-CoreWLAN                         12.1
pyobjc-framework-CryptoTokenKit                   12.1
pyobjc-framework-DataDetection                    12.1
pyobjc-framework-DeviceCheck                      12.1
pyobjc-framework-DeviceDiscoveryExtension         12.1
pyobjc-framework-DictionaryServices               12.1
pyobjc-framework-DiscRecording                    12.1
pyobjc-framework-DiscRecordingUI                  12.1
pyobjc-framework-DiskArbitration                  12.1
pyobjc-framework-DVDPlayback                      12.1
pyobjc-framework-EventKit                         12.1
pyobjc-framework-ExceptionHandling                12.1
pyobjc-framework-ExecutionPolicy                  12.1
pyobjc-framework-ExtensionKit                     12.1
pyobjc-framework-ExternalAccessory                12.1
pyobjc-framework-FileProvider                     12.1
pyobjc-framework-FileProviderUI                   12.1
pyobjc-framework-FinderSync                       12.1
pyobjc-framework-FSEvents                         12.1
pyobjc-framework-FSKit                            12.1
pyobjc-framework-GameCenter                       12.1
pyobjc-framework-GameController                   12.1
pyobjc-framework-GameKit                          12.1
pyobjc-framework-GameplayKit                      12.1
pyobjc-framework-GameSave                         12.1
pyobjc-framework-HealthKit                        12.1
pyobjc-framework-ImageCaptureCore                 12.1
pyobjc-framework-InputMethodKit                   12.1
pyobjc-framework-InstallerPlugins                 12.1
pyobjc-framework-InstantMessage                   12.1
pyobjc-framework-Intents                          12.1
pyobjc-framework-IntentsUI                        12.1
pyobjc-framework-IOBluetooth                      12.1
pyobjc-framework-IOBluetoothUI                    12.1
pyobjc-framework-IOSurface                        12.1
pyobjc-framework-iTunesLibrary                    12.1
pyobjc-framework-KernelManagement                 12.1
pyobjc-framework-LatentSemanticMapping            12.1
pyobjc-framework-LaunchServices                   12.1
pyobjc-framework-libdispatch                      12.1
pyobjc-framework-libxpc                           12.1
pyobjc-framework-LinkPresentation                 12.1
pyobjc-framework-LocalAuthentication              12.1
pyobjc-framework-LocalAuthenticationEmbeddedUI    12.1
pyobjc-framework-MailKit                          12.1
pyobjc-framework-MapKit                           12.1
pyobjc-framework-MediaAccessibility               12.1
pyobjc-framework-MediaExtension                   12.1
pyobjc-framework-MediaLibrary                     12.1
pyobjc-framework-MediaPlayer                      12.1
pyobjc-framework-MediaToolbox                     12.1
pyobjc-framework-Metal                            12.1
pyobjc-framework-MetalFX                          12.1
pyobjc-framework-MetalKit                         12.1
pyobjc-framework-MetalPerformanceShaders          12.1
pyobjc-framework-MetalPerformanceShadersGraph     12.1
pyobjc-framework-MetricKit                        12.1
pyobjc-framework-MLCompute                        12.1
pyobjc-framework-ModelIO                          12.1
pyobjc-framework-MultipeerConnectivity            12.1
pyobjc-framework-NaturalLanguage                  12.1
pyobjc-framework-NetFS                            12.1
pyobjc-framework-Network                          12.1
pyobjc-framework-NetworkExtension                 12.1
pyobjc-framework-NotificationCenter               12.1
pyobjc-framework-OpenDirectory                    12.1
pyobjc-framework-OSAKit                           12.1
pyobjc-framework-OSLog                            12.1
pyobjc-framework-PassKit                          12.1
pyobjc-framework-PencilKit                        12.1
pyobjc-framework-PHASE                            12.1
pyobjc-framework-Photos                           12.1
pyobjc-framework-PhotosUI                         12.1
pyobjc-framework-PreferencePanes                  12.1
pyobjc-framework-PushKit                          12.1
pyobjc-framework-Quartz                           12.1
pyobjc-framework-QuickLookThumbnailing            12.1
pyobjc-framework-ReplayKit                        12.1
pyobjc-framework-SafariServices                   12.1
pyobjc-framework-SafetyKit                        12.1
pyobjc-framework-SceneKit                         12.1
pyobjc-framework-ScreenCaptureKit                 12.1
pyobjc-framework-ScreenSaver                      12.1
pyobjc-framework-ScreenTime                       12.1
pyobjc-framework-ScriptingBridge                  12.1
pyobjc-framework-SearchKit                        12.1
pyobjc-framework-Security                         12.1
pyobjc-framework-SecurityFoundation               12.1
pyobjc-framework-SecurityInterface                12.1
pyobjc-framework-SecurityUI                       12.1
pyobjc-framework-SensitiveContentAnalysis         12.1
pyobjc-framework-ServiceManagement                12.1
pyobjc-framework-SharedWithYou                    12.1
pyobjc-framework-SharedWithYouCore                12.1
pyobjc-framework-ShazamKit                        12.1
pyobjc-framework-Social                           12.1
pyobjc-framework-SoundAnalysis                    12.1
pyobjc-framework-Speech                           12.1
pyobjc-framework-SpriteKit                        12.1
pyobjc-framework-StoreKit                         12.1
pyobjc-framework-Symbols                          12.1
pyobjc-framework-SyncServices                     12.1
pyobjc-framework-SystemConfiguration              12.1
pyobjc-framework-SystemExtensions                 12.1
pyobjc-framework-ThreadNetwork                    12.1
pyobjc-framework-UniformTypeIdentifiers           12.1
pyobjc-framework-UserNotifications                12.1
pyobjc-framework-UserNotificationsUI              12.1
pyobjc-framework-VideoSubscriberAccount           12.1
pyobjc-framework-VideoToolbox                     12.1
pyobjc-framework-Virtualization                   12.1
pyobjc-framework-Vision                           12.1
pyobjc-framework-WebKit                           12.1
pyparsing                                         3.3.2
python-bidi                                       0.6.7
python-dateutil                                   2.9.0.post0
python-dotenv                                     1.2.1
python-multipart                                  0.0.22
pyttsx3                                           2.99
pytz                                              2025.2
PyWavelets                                        1.9.0
PyYAML                                            6.0.3
RapidFuzz                                         3.14.3
regex                                             2026.1.15
requests                                          2.32.5
rich                                              14.3.1
safehttpx                                         0.1.7
scikit-image                                      0.21.0
scipy                                             1.13.1
semantic-version                                  2.10.0
setuptools                                        80.9.0
shapely                                           2.1.2
shellingham                                       1.5.4
six                                               1.17.0
sniffio                                           1.3.1
starlette                                         0.41.3
sympy                                             1.14.0
tifffile                                          2026.1.14
tokenizers                                        0.22.2
tomlkit                                           0.13.3
torch                                             2.9.1
torchvision                                       0.24.1
tqdm                                              4.67.1
typer                                             0.21.1
typer-slim                                        0.21.1
typing_extensions                                 4.15.0
tzdata                                            2025.3
ultralytics                                       8.4.7
ultralytics-thop                                  2.0.18
urllib3                                           2.6.3
uvicorn                                           0.30.6
uvloop                                            0.22.1
watchfiles                                        1.1.1
websockets                                        16.0
